.shop-box__Single-Sofa {
    margin-top: 2.8rem;
    display: grid;
    grid-template-columns: 35rem 35rem 35rem;
    grid-template-rows: 31.6rem 6rem 31.6rem;
    justify-content: center;
    row-gap: 2rem;
    column-gap: 3rem;
}